<meta charset="UTF-8">
<html>
    <head>
        <title>Mapa</title>
    </head>
    <body>
        <h1>Bienvenido</h1>
        <span id="loginError" style="color: red;"></span>
        <form id="loginForm">
                <input type="text" placeholder="Usuario" name="username">
                <input type="password" placeholder="Contraseña" name="password">
                <button type="submit">Ingresar</button>
        </form>
        <h1>Registrarse</h1>
        <span id="registerError" style="color: red;"></span>
        <form id="registerForm">
            <input type="text" placeholder="Usuario" name="regusername">
            <input type="password" placeholder="Contraseña" name="regpassword">
            <button type="submit">Registrarse</button>
        </form>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script>
var token = window.localStorage.getItem('token');
if (token) {
    window.location.href = '/map';
}

function clearErrors() {
    $('#loginError').text('');
    $('#registerError').text('');
}

function loginError(error) {
    clearErrors();
    $("#loginError").text(error);
}

function registerError(error) {
    clearErrors();
    $("#registerError").text(error);
}

$('#loginForm').submit(function(event) {
    $.ajax({
        url: '/login',
        method: 'POST',
        dataType: 'json',
        data: {
            username: $("input[name='username']").val(),
            password: $("input[name='password']").val()
        },
        success: function(response) {
            if (response.auth) {
                window.localStorage.setItem('token', response.token);
                window.location.href = '/map';
            } else {
                loginError(response.error);
            }
        }
    });
    event.preventDefault();
});

$('#registerForm').submit(function(event) {
    $.ajax({
        url: '/register',
        method: 'POST',
        dataType: 'json',
        data: {
            username: $("input[name='regusername']").val(),
            password: $("input[name='regpassword']").val()
        },
        success: function(response) {    
            if (response.auth) {
                window.localStorage.setItem('token', response.token);
                window.location.href = '/map';
            } else {
                registerError(response.error);
            }
        }
    });
    event.preventDefault();
});
        </script>
    </body>
</html>