<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <a href="/logout">Logout</a>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
var map;

var username;

var options = {
    enableHighAccuracy: false
};

// Initialize and add the map
function initMap() {
  // The location of Uluru
  var medellin = {lat: 6.244203, lng: -75.58121189999997};
  // The map, centered at Uluru
  map = new google.maps.Map(
      document.getElementById('map'), {zoom: 11, center: medellin});

  get('/getEvents', function(responseText) {
    var events = JSON.parse(responseText);
    events.events.forEach(function(event) {
      document.getElementById("history").innerHTML += 
        `<div>${event.username} ${JSON.stringify(event.location)} ${event.time}</div>`
    });

    username = events.username;

    var id = navigator.geolocation.watchPosition(success, error, options);
  });
}

function error(err) {
  console.warn('ERROR(' + err.code + '): ' + err.message);
}

function success(pos) {
  var crd = pos.coords;

  var location = { 
    lat: crd.latitude,
    lng: crd.longitude
  }

  var marker = new google.maps.Marker({position: location, map: map});

  var time = new Date();

  var eventData = {
    location: location,
    time: time.toISOString()
  };

  post('/map', eventData, function(responseText) {
    console.log(responseText);
  });

  document.getElementById("history").innerHTML += `<div style="color: blue;">${username} ${JSON.stringify(location)} ${time.toISOString()}</div>`
}

function get(url, success) {
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.onreadystatechange = function()
  {
      if(xmlHttp.readyState == 4 && xmlHttp.status == 200)
      {
          success(xmlHttp.responseText);
      }
  }
  xmlHttp.open('get', url); 
  xmlHttp.send(); 
  return xmlHttp;
}

function post(url, data, success) {
  var formData = new FormData(); 
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.onreadystatechange = function()
  {
      if(xmlHttp.readyState == 4 && xmlHttp.status == 200)
      {
          success(xmlHttp.responseText);
      }
  }
  xmlHttp.open('post', url); 
  xmlHttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  xmlHttp.setRequestHeader('Content-Type', 'application/json');
  xmlHttp.send(JSON.stringify(data)); 
  return xmlHttp;
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMAHHclfxfIVeel1opF4lGw5qrlFzXtXE&callback=initMap">
    </script>
    <div id="history"></div>
  </body>
</html>